In [2]:
삼성전자 = 50000
총평가금액 =  삼성전자 * 10
print(총평가금액)

500000

In [6]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [10]:
s = "hello"
t = "python"
print(s+"!",t)

hello! python

In [15]:
a = "132"
print(a, type(a))

132 <class 'str'>

In [18]:
num_str = "720"
num_int = int(num_str)
print(num_int,type(num_int))

720 <class 'int'>

In [19]:
num = 100
num_str = str(num)
print(num_str,type(num_str))

100 <class 'str'>

In [30]:
year = "2020"
int_year = int(year)
years = []

for i in range(1, 4):
    years.append(int_year +i)

print(years)

[2021, 2022, 2023]

In [31]:
월가격 = 48584
총가격 = 월가격 * 36
print(총가격)

1749024

In [47]:
letters = 'python'
print(letters[0],letters[2])

p t

In [49]:
license_plate = "24가 2210"
print(license_plate[-4::])

2210

In [52]:
string = "홀짝홀짝홀짝"
print(string[0::2])

홀홀홀

In [54]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [56]:
phone_number = "010-1111-2222"
number = phone_number.replace("-"," ")
print(number)

010 1111 2222

In [60]:
phone_number = "010-1111-2222"
number = phone_number.split("-")
print(number) #-기준으로 잘라냄

num = "".join(number) #""으로 붙이기
print(num)

['010', '1111', '2222']
01011112222

In [74]:
url = "http://sharebook.kr"
print(url, type(url))
url_split = url.split('.')
print(url_split,type(url_split))
print(url_split[-1])

http://sharebook.kr <class 'str'>
['http://sharebook', 'kr'] <class 'list'>
kr

In [76]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [78]:
string = 'abcdfe2a354a32a'
string_a = string.replace("a","A")
print(string_a)

Abcdfe2A354A32A

In [89]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 +' '
print(t3*4)

python java python java python java python java

In [105]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1,age1))
print("이름: %s 나이: %d" % (name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [108]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1 ) )

이름: 김민수 나이: 10

In [110]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [120]:
상장주식수 = "5,969,782,550"
주식수 = 상장주식수.replace(',','')
print(주식수,type(주식수))
수 = int(주식수)
print(수,type(수))

5969782550 <class 'str'>
5969782550 <class 'int'>

In [125]:
분기 = "2020/03(E) (IFRS연결)"
#a = 분기.split("(")
#print(a[0])
print(분기[:7])

2020/03

In [127]:
data = "   삼성전자    "
newdata = data.strip()
print(newdata)

삼성전자

In [135]:
movie_rank = ['닥터 스트레인지','스플릿','럭키','배트맨']
print(movie_rank)
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)
#리스트의 `insert(인덱스, 원소)` 메서드 - 특정 위치에 값을 끼어넣기
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [136]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang3 = lang1+lang2
print(lang3)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [151]:
nums = [1, 2, 3, 4, 5]
s=sum(nums)
print(s)

15

In [152]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [157]:
nums = [1, 2, 3, 4, 5]
avg = sum(nums) / len(nums)
print(avg)

3.0

In [158]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [164]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])#짝수
print(nums[::2])#홀수
print(nums[::-1])#역순

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [169]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [182]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
#print(" ".join(interest))
#print("/".join(interest))
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [185]:
string = "삼성전자/LG전자/Naver"
string_new = string.split("/")
print(string_new)

['삼성전자', 'LG전자', 'Naver']

In [186]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]