In [2]:
과일 = ['사과','귤','수박']
for 변수 in 과일:
    print('####')

####
####
####

In [6]:
for a in ['A','B','C']:
    print('출력:',a.lower())

출력: a
출력: b
출력: c

In [7]:
for a in [10,20,30]:
    print(a)
    print("-------")

10
-------
20
-------
30
-------

In [9]:
for a in [10,20,30]:
    print("+++++")
    print(a)

+++++
10
+++++
20
+++++
30

In [11]:
for 변수 in [1,1,1,1]:
  print("-------")

-------
-------
-------
-------

In [15]:
리스트 = [100, 200, 300]
#부가세 = 10원
for i in 리스트:
    print(i + 10)

110
210
310

In [18]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴:",i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [20]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
    print(len(i))

6
4
4

In [21]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0])

d
c
p

In [26]:
리스트 = [1, 2, 3]
for i in 리스트:
    #print("3 x",i)
    print("3 x",i,"=",3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [36]:
리스트 = ["가", "나", "다", "라"]

#for i in 리스트[1:]:
#for i in 리스트[::2]:
for i in 리스트[::-1]:

    print(i)

라
다
나
가

In [37]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i<0:
        print(i)

-20
-3

In [39]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [40]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i % 3 == 0 and i <20:
        print(i)

12
18

In [41]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [44]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [48]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    #if i.isupper() == False:
    #if i.isupper() != True:
    if not i.isupper():
        print(i)

b
c

In [54]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [65]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    j = i.split('.')
    print(j[0])

hello
ex01
intro

In [74]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    j = i.split('.')
    if j[1] == 'h':
        print(j[0])

intra
define

In [81]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    j = i.split('.')
    if j[1] == 'h' or j[1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [86]:
for i in range(0,100):
     print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [88]:
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [91]:
for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [93]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [120]:
for i  in range(1,10):
    if i%2==1:
        print(3,"x",i ,"=",3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [124]:
sum = 0
for i in range(1,11):
    sum = sum+i
print(sum)

55

In [131]:
sum = 0
for i in range(1,11,2):
    sum = sum + i
print(sum)

25

In [142]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)): #len사용:list변해도 코드수정안해도 된
    print(price_list[i])

32100
32150
32000
32500

In [145]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(100+10*i,price_list[i])

100 32100
110 32150
120 32000
130 32500

In [166]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [175]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [176]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [183]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(1,len(my_list)-1):
    avg = abs(my_list[i-1]+my_list[i]+my_list[i+1]/3)
    print(avg)

433.33333333333337
866.6666666666667
1533.3333333333333
2233.3333333333335

In [186]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

#변동폭을 volatility리스트에 저장
volatility = []
for i in range(0,len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [189]:
apart = [['101호','102호'],['201호','202호'],['301호','302호']]

In [192]:
stock = [['시가',100,200,300],['종가',80,210,330]]

In [195]:
stock = {'시가':[100,200,300],'종가':[80,210,330]}

In [196]:
stock = {"10/10":[80,110,70,90],"10/11":[210,230,190,200]}

In [300]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
               
for i in range(len(apart)): #첫번째[] apart리스트길이만큼 - 층
    for j in range(len(apart)-1): #안쪽[] 
        print (apart[i][j],'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [311]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
    
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [301]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
                #[0][1][2] ,2부터 0까지 -1
for i in range(len(apart)-1,-1,-1): #첫번째[]
    for j in range(len(apart[i])): #안쪽[]
        print (apart[i][j],'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [304]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in reversed(apart): # 층 전체를 뒤집어서 꺼냅니다 (3층 -> 2층 -> 1층)
    for room in floor: # 2. 해당 층에 있는 방들을 순서대로 꺼냅니다 (1호 -> 2호)
        print(room,'호')

"""
# range(3)은 [0, 1, 2]이고, 이걸 뒤집으면 [2, 1, 0]
for i in reversed(range(len(apart))):
    for j in range(len(apart[i])):
        print(apart[i][j], '호')
"""

301 호
302 호
201 호
202 호
101 호
102 호

"\n# range(3)은 [0, 1, 2]이고, 이걸 뒤집으면 [2, 1, 0]이 됩니다.\nfor i in reversed(range(len(apart))):\n    for j in range(len(apart[i])):\n        print(apart[i][j], '호')\n"

In [318]:
#수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for line in data:
    for column in line:
        result.append(column * 1.0014)
        print(column * 1.0014)
    print("----")
print(result)

2002.8000000000002
3054.27
2052.8700000000003
1982.7720000000002
----
7510.500000000001
2052.8700000000003
2052.8700000000003
1982.7720000000002
----
15471.630000000001
15071.070000000002
15571.77
14920.86
----
[2002.8000000000002, 3054.27, 2052.8700000000003, 1982.7720000000002, 7510.500000000001, 2052.8700000000003, 2052.8700000000003, 1982.7720000000002, 15471.630000000001, 15071.070000000002, 15571.77, 14920.86]

In [319]:
#191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라
#각 행에 대한 데이터끼리 리스트에 저장
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
reault = []

for line in data:
    line_data = [] #행별 데이터 저장용 리스트
    for column in line:
        line_data.append(column * 1.0014)
    result.append(line_data)
print(result)

[2002.8000000000002, 3054.27, 2052.8700000000003, 1982.7720000000002, 7510.500000000001, 2052.8700000000003, 2052.8700000000003, 1982.7720000000002, 15471.630000000001, 15071.070000000002, 15571.77, 14920.86, [2002.8000000000002, 3054.27, 2052.8700000000003, 1982.7720000000002], [7510.500000000001, 2052.8700000000003, 2052.8700000000003, 1982.7720000000002], [15471.630000000001, 15071.070000000002, 15571.77, 14920.86]]

In [326]:
#195
#시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
#화면에 종가데이터를 출력하라.
ohlc = [["open", "high", "low", "close"], #ohlc[0]제목임 필요없음
        [100, 110, 70, 100], #ohlc[1] 이것부터 필요함
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]: #ohlc[1]부터 끝까지 슬라이싱
    #if row[3] >= 150: #종가가 150원보다 큰경우에만
    if row[3] >= row[0]: #종가가 시가보다 크거나 같을 경우에만
        print(row[3]) #4번째값 종가 뽑기

100
310

In [327]:
#198
#고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for row in ohlc[1:]:
    volatility.append(row[1]-row[2])
print(volatility)

[40, 30, 10]