In [188]:
my_variable =  ()
print(type(my_variable))

<class 'tuple'>

In [189]:
movie_rank = ('닥터스트레인지','스플릿','럭키')
print(movie_rank)

('닥터스트레인지', '스플릿', '럭키')

In [190]:
t = (1, 2, 3)
t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4233525839.py, line 3)

In [191]:
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [196]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
new = list(interest) #튜플을 리스트로
print(new)

['삼성전자', 'LG전자', 'SK Hynix']

In [198]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
new = tuple(interest #리스트를 튜플로 
print(new)

('삼성전자', 'LG전자', 'SK Hynix')

In [199]:
temp = ('apple','banana','cake')
a,b,c = temp
print(a,b,c)

apple banana cake

In [204]:
a = tuple(range(2,100,2))
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [209]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
#*valid_score,a,b = scores
a,*valid_score,b = scores

print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [210]:
temp = []

In [215]:
ice = {'메로나':1000,'폴라포':1200,'빵빠레':1800}
print(ice)
ice['죠스바'] = 1200
ice['월드콘'] =1500 #닥셔너리 키밸류 추가
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [230]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나가격: " ,ice['메로나'])
ice['메로나']=1300
print("메로나가격: " ,ice['메로나'])
del ice['메로나']
print(ice)

메로나가격:  1000
메로나가격:  1300
{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [251]:
inventory = {'메로나':[300,20],'비비빅':[400,3],'죠스바':[250,100]}
print(inventory)
print("메로나가격: ",inventory['메로나'][0],"원")
print('메로나 재고: ',inventory['메로나'][1],'개')
inventory['월드콘']=[500,7] #딕셔너리 데이터 추가
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
메로나가격:  300 원
메로나 재고:  20 개
{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [257]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = list(icecream.keys())
creams = list(icecream.values())
print(ice)
print(creams)
price = sum(creams)
print(price)

new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product) #딕셔너리 여러 데이터 추가
print(icecream)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']
[1200, 1200, 1800, 1500, 1000]
6700
{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [261]:
#튜플2개를 하나의 딕셔너리로

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [265]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [1]:
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값:  56

36

In [2]:
user = input("")
u_num = int(user) - 20
if u_num < 0:
    print(0)
elif u_num > 255:
    print(255)
else:
    print(u_num)

 56

36

In [4]:
u_time = input('현재시간: ')
if u_time[-1:2] == 00:
    print('졍각 입니다.')
else:
    print('정각이 아닙니다.')

현재시간:  16:45

정각이 아닙니다.

In [11]:
fruit = ["사과", "포도", "홍시"]
u_fruit=input("좋아하는 과일은? ")

if u_fruit in fruit:
    print('정답입니다')        
else:
    print('오답입니다.')

좋아하는 과일은?

오답입니다.

In [13]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
d_invest = input()
if d_invest in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

 LG

투자 경고 종목입니다.

In [17]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
u_fruit = input()
fruit_val =  fruit.values()
if u_fruit in fruit_val:
    print('정답입니다.')
else:
    print('오답입니다.')

 dd

오답입니다.

In [19]:
score = input('')
score = int(score) #받아온 값 정수로 변환
if 81<= score <=100:
    print('A')
elif 61<= score <=80:
    print('B')
elif 41<= score <= 60:
    print('C')
elif 21<= score <= 40:
    print('D')
else:
    print('E')

 56

C

========================================
-123번 - 코드 줄이기(아래거) # 딕셔너리 키를 이용해 바로 가져오기
========================================

In [61]:
exchange  = {'달러':1167,'엔':1096,'유로':1268,'위안':171}
u_cash = input()
new_cash = u_cash.split(" ")
print(new_cash)
#입력받은 값에서 숫자만 뺀 '금액' 정수화
money = int(new_cash[0])
#환율 
doller = exchange['달러']
yen = exchange['엔']
euro = exchange['유로']
yuan = exchange['위안']

if new_cash[1] == '달러':
    result = money*doller
    print(f"{result:.2f}원")
elif new_cash[1] == '엔':
    result = money*yen
    print(f"{result:.2f}원")
elif new_cash[1] == '유로':
    result = money*euro
    print(f"{result:.2f}원")
else:
    print(f"{money*yuan:.2f} 원")

 55000 유로

['55000', '유로']
69740000.00원

In [70]:
exchange  = {'달러':1167,'엔':1096,'유로':1268,'위안':171}
u_cash = input()
new_cash = u_cash.split(" ")
print(new_cash)
money = int(new_cash[0])
currency = new_cash[1]
print(money)
print(currency)

if currency in exchange:
    result = money * exchange[currency]
    print(f"{result:.2f} 원")
else:
    print("알 수 없는 통화입니다.")

 5500 유로

['5500', '유로']
5500
유로
6974000.00 원

In [73]:

a = input("첫번째 수 입력")
b = input("두번째 수 입력")
c = input("세번째 수 입력")

if a >= b and a >= c:
    print(a)
elif b >= a and b>= c:
    print(b)
else:
    print(c)

첫번째 수 입력 45
두번째 수 입력 888
세번째 수 입력 32

888

============================================
-문제126 코드 줄이기 (딕셔너리 활용 리팩토링)
============================================

In [94]:
post = input('우편번호:')
gu = post[:3]
if gu in ['010','011','012']:
    print('강북구')
elif gu in ['013','014','015']:
    print('도봉구')
elif gu in ['016','017','018']:
    print('노원구')
else:
    print('우편번호를 확인하세요')

우편번호: 01455

도봉구

In [95]:
post = input('우편번호:')
gu_code = post[:3]

# 우편번호 정보를 담은 딕셔너리
gu_map = {
    '010': '강북구', '011': '강북구', '012': '강북구',
    '013': '도봉구', '014': '도봉구', '015': '도봉구',
    '016': '노원구', '017': '노원구', '018': '노원구'
}

# 딕셔너리의 get 메서드를 사용하여 출력
# (찾는 값이 없으면 '우편번호를 확인하세요'를 기본값으로 출력)
print(gu_map.get(gu_code, '우편번호를 확인하세요'))

우편번호: 01565

도봉구